{% extends 'base.html' %}
{% block contents %}
  <div class="container">
    {% include 'errors.html' %}
    <form method="post" class="my-3" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="category">구분</label>
        <select name="category" id="category" class="form-select">
          <option value="1">일반</option>
          <option value="2">배송</option>
          <option value="3">상품</option>
          <option value="4">이벤트</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="title">제목</label>
        <input type="text" name="title" id="title" class="form-control" value="{{form.title.value|default_if_none:''}}">
      </div>
      <div class="form-group mb-3">
        <label for="contents">내용</label>
        <textarea name="contents" id="contents" rows="10" class="form-control">{{form.contents.value|default_if_none:''}}</textarea>
      </div>
      {% comment %} <div class="form-group mb-3">
        <label for="image">이미지</label>
        <input type="file" name="image" id="image" class="form-control" value="{{form.image.value|default_if_none:''}}">
      </div> {% endcomment %}
      <input type="submit" value="글 등록" class="btn btn-success">
    </form>
  </div>
{% endblock contents %}
