<div class="container footer_area">
  <div class="row my-3 justify-content-md-center">
    <div class="col px-4" sm="sm">
      <h3>CENTRAL PERK</h3>
      <div class="small text-secondary">
        <span class="d-block">커피시 커피구 프렌즈동 2023</span>
        <span class="d-block">
          TEL : 010-1234-5678 / MAIL
          <a href="mailto:CENTRAL_PERK@FRIENDS.com" class="d-inline-block mx-1">
            CENTRAL_PERK@FRIENDS.com
          </a>
        </span>
      </div>
    </div>
    <div class="col" sm="sm">
      <h4>010-1234-5678</h4>
      <div class="small text-secondary">
        <span class="d-block">평일 10:00 - 17:00</span>
        <span class="d-block">점심 12:00 - 13:00</span>
        <span class="d-block">휴일 토/일/공휴일</span>
      </div>
    </div>
    <div class="col" sm="sm">
      <h4>배송</h4>
      <div class="small text-secondary">
        <span class="d-block">타 택배 반품시 :
        </span>
        <span class="d-block">커피시 커피구 프렌즈동 2023</span>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col px-4 text-secondary">COPYRIGHT &copy; CENTRAL PERK. ALL RIGHTS RESERVED.</div>
  </div>
</div>
